.btn-search {
  border: 0px solid #116411;
  padding: 6px 0 6px 0;
  height: 4vh;
  margin-top: 1vh;
  width: 80px;
  color: rgb(255, 255, 255);
  border-radius: 6%;
  background-color: #116411;
}
.btn-search:hover {
  color: #116411;
  background-color: white;
  cursor: pointer;
  border: 1px solid #116411;
  border-radius: 6%;
}
.menuHeader {
  width: 100%;
  align-self: center;
  border-bottom: 2px solid #116411;
  height: 6vh;
  background: #fff;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #333;
  display: flex;
  flex-direction: row;
}
.inputHeader {
  color: rgb(19, 18, 18);
  font-size: 14px;
}
.inputHeader:focus {
  border: 1px solid white;
  outline: none;
}
.menuHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuHeader > ul {
  display: flex;
  margin: 0 50px;
  position: relative;
}
.menuHeader > ul > li > span {
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
}
.menuHeader > ul > li > span:hover {
  color: #2874f0;
}
.menuHeader > ul > li > ul {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #cecece;
  z-index: 1;
}
.menuHeader > ul > li:hover ul {
  display: block;
}
.menuHeader > ul > li > ul > li {
  margin: 0 20px;
  min-width: 150px;
}
.menuHeader > ul > li > ul > li {
  float: left;
}
.menuHeader > ul > li > ul > li > a {
  font-weight: bold;
  display: block;
}
.menuHeader > ul > li > ul > li a {
  padding: 3px 0;
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #707070;
}
.iconBts {
  font-size: 18px;
  margin-top: 12px;
  margin-left: 1rem;
}
.categoryStyle {
  font-size: 18px;
  color: red;
}
