.modal-header {
  padding: 5px 15px;
  height: 40px;
  width: 40px;
  background-color: #333;
}
.headUpdate {
  text-align: center;
  color: #939096;
  height: 5vh;
  padding: 10px 0 0 0;
  border-radius: 6%;
  border-bottom: 2px solid #2874f0;
}
.modal-title {
  font-size: 18px;
  color: #fff;
}
.modal-footer {
  padding: 5px 15px;
}

.actionBtnContainer {
  display: flex;
  align-items: center;
}
.textUser {
  color: rgb(51, 49, 49);
}
.actionBtnContainer > button {
  border: 0;
  margin: 0 5px;
  font-size: 14px;
}
.modalWebsite {
  width: 10rem;
  border: 1px solid black;
  background-color: red;
}

.key {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}
.value {
  font-size: 14px;
  font-family: sans-serif;
}
.productImgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 94vh;
}
.profileRow {
  margin-top: 14px;
  border: 1px solid #2874f0;
  height: 92vh;
}
.colprofile {
  background-color: white;
  width: 35%;
}
.profilePricture {
  padding-left: 40px;
  padding-top: 8px;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 1px solid grey;
  width: 58%;
  padding-left: 20px;
}
.addwebsite {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.RowAddWebsite {
  display: flex;
  flex-direction: column;
}
.ConainerUnderProfile {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid red;
}

.rowUnderProfile {
  display: flex;
  flex-direction: row;
  width: 1100px;
}
.itemModal {
  display: flex;
  flex-direction: column;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}
.desciptionUser {
  display: flex;
  justify-content: center;
  margin: 0 8px 8px 8px;
}
.flexItemsBtn {
  display: flex;
  justify-content: end;
  width: 80%;
}

.card-container {
  margin-left: px;
  background-color: #e4e4e6;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 49%;
  max-width: 100%;
  text-align: center;
  height: 90vh;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container img {
  border: 0px solid black;
  border-radius: 50%;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
